.container
  .hero-unit
    .text-center
      %h1 Viewing & Funeral Information
      .row
        %h3 Visitation
        %p
          Sunday 12/14/2008 @ 5pm
        %h3 Funeral
        %p
          Monday 12/15/2008 @ 1pm
        %h3 Location for both Visitation and Funeral:
        %p
          Porter Loring Funeral Home
          %br 
          %a{:href=>"http://porterloring.com/"} http://porterloring.com
          %br 
          2102 North Loop 1604 East@Gold Canyon Dr.
          %br 
          San Antonio, Texas 78232
          %br 
          210-495-8221
          %br
          %a{:href=>'http://porterloring.com/aboutus/map_north.html'} Map
        %h3 Burial Site:
        %p
          Misson Park Burial North (I10/Dominion)
          %br
          %a{:href=>'http://www.missionparks.com/about/locations-mission-park-north-map2.php'} Map
  %div= haml :footer
