.container
  .hero-unit
    .text-center
      %h1 In Memoriam
      %h1 ~ Nelson Montalvo ~
      %h2 1976 - 2008
      %p
        %img{:alt=>"Nelson_bw", :src=>"images/nelson_bw.jpg", :class => "img-rounded"}
  %div= haml :footer

