.container
  .hero-unit
    .text-center
      %h1 Last Known Picture
      %p
        %img{:alt=>"Nelson_last_picture", :src=>"images/nelson_last_pic.jpg", :height => '400', :width => '300', :class => 'img-rounded'}
      %p 
        %small This picture was taken Tuesday, Dec 9, 2008 in the Wachovia ILS lab in San Antonio, TX
  %div= haml :footer
