.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/'} Nelson Montalvo, Jr.
      .nav-collapse#main-menu
        %ul.nav#main-menu-left
          %li
            %a{:href => '/'}
              Home
          %li
            %a{:href => 'https://www.givedirect.org/give/givefrm.asp?CID=1013', :target => "_blank"}
              Donate to Humane Society
          %li
            %a{:href => '/lastpicture'}
              Last Picture
          %li
            %a{:href => '/blog'}
              Memorial Blog Entry 
          %li
            %a{:href => '/obituary'} 
              Obituary
          %li
            %a{:href => '/funeral'} 
              Funeral
