body{
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    background: black;
    font-size: 12px;
	color: #FFFFFF;
    font-family: garamound;
}

div.crumb{
    font-size: 1.0em;
    float: left;
}

A:link {
    text-decoration: none;
    color: blue;
}

A:visited {
    text-decoration: none;
    color: blue;
}

A:active {
    text-decoration: none;
    color: blue;
}

A:hover {
    text-decoration: none;
    color: blue;
}

div.links{
    font-size: 1.5em;
}

div.links li{
	list-style: none;
}

div.quote{
    font-size: 1.5em;
}

div.quote_author{
    font-size: 1.5em;
    color: #999999;
}

div.picture_info{
    font-size: 1.5em;
    color: #CCCCCC;
}

div.header{
    font-size: 2.0em;
}

div.information{
    color: #CCCCCC;
    font-size: 2.0em;
}

div.obit{
	align: center;
}

div.obitheader{
    font-size: 1.5em;
	text-align: center;
}

div.obitleft{
   	margin: auto 10% auto;
	width: 50%;
    font-size: 1.5em;
	text-align: left;
	float: left;
}

div.obitpicture{
	background-color: #CCCCCC;
	color: #000000;
    font-size: 1.5em;
	text-align: left;	
}

div.obitright{
	width: 17%;
    border: 1px solid #999999;
    margin: 15 auto;
    margin-right: 50;
    margin-left: 50;
	float: left;
	font-size: 1.5em;
}

div.obitsummary{
    font-size: 1.25em;
	text-align: left;
}

div.blog{
   	margin: auto 25% auto;
	width: 50%;
    font-size: 1.5em;
	text-align: left;
	float: left;
}

div.comments{
   	margin: auto 25% auto;
	width: 50%;
    font-size: 1.5em;
	text-align: left;
	clear: both;
	float: left;
}

div.comment_name{
	color: blue;
}

div.subtext{
    color: #999999;
    font-size: 0.8em;
}

div.border{
    background-color: black;
    border: 1px solid #999999;
    margin: 15 auto;
    margin-right: 50;
    margin-left: 50;
	overflow: hidden;			
}

img{
    background-color: black;
    border: 3px solid #ffffff;
}

div.memorium{
    color: #999999;
    font-size: 2.0em;
}

div.name{
    color: #CCCCCC;
    font-size: 3.0em;
}

h2 {
    color: #4d9a49;
    margin: 0px;
    margin-bottom: 10px;
}
