<div class="border">
    <br/>
    <div class="memorium">In Memoriam</div><br>
    <div class="name">~ Nelson Montalvo ~</div>
    <div class="memorium">1976 - 2008</div>

    <p> <%= image_tag("nelson_bw.jpg") %></p>
    <br />
    <br/>
</div>