<div class="border">
    <div class="memorium">Obituary</div>
    <div class="links"><a href="http://www.mysanantonio.com/obituaries/Montalvo_was_moving_up_in_technology_industry_before_fatal_auto_accident.html" target="_blank">MySa.com website version</a><br/></div>
    <p> <%= image_tag("obituary.jpg") %></p>
</div>