<div class="border">
    <div class="memorium">Last Known Picture</div>
    <br/>
    <p> <%= image_tag("nelson_last_pic.jpg", :width => 300, :height => 400) %></p>
	<br/>
    <div class="picture_info">This picture was taken Tuesday, Dec 9, 2008 in the Wachovia ILS lab in San Antonio, TX.</div>
</div>